.header {
  background-color: rgb(255, 204, 153); /* Use rgb */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow with rgba */
}

.main {
  display: flex; /* Add this line */
}

h1 {
  font-weight: 700;
  text-align: center;
}

.main section {
  background-color: rgb(230, 242, 255); /* This sets the background color */
  margin: 20px;
  display: flex;
  flex: 3 1 0%;
}

.aside {
  background-color: rgb(179, 217, 255); /* Use rgb */
  flex: 1 1 0%; /* Match the shorthand format expected */
  border: 1px solid rgb(204, 204, 204); /* Use rgb for the border color */
}

.footer {
  background-color: rgb(153, 204, 153); /* Use rgb */
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow with rgba */
}
