.header {
  background-color: rgb(255, 204, 153);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.main {
  display: flex;
}

h1 {
  font-weight: 700;
  text-align: center;
}

.main section {
  background-color: rgb(230, 242, 255);
  margin: 20px;
  display: flex;
  flex: 3 1 0%;
}

.aside {
  background-color: rgb(179, 217, 255);
  flex: 1 1 0%;
  border: 1px solid rgb(204, 204, 204);
}

.footer {
  background-color: rgb(153, 204, 153);
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
